<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>Ankieta</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='project.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div id="content">
        <h1>Definicja</h1>
        <form class="generated-form" method="POST">
            <fieldset>
                <h3>Sztuczna inteligencja (ang. Artificial Intelligence) - "gałąź" nauk informatycznych w ramach której, systemy lub maszyny naśladują ludzką inteligencję w celu wykonywania zadań.
                Mogą sukcesywnie uczyć się na podstawie algorytmów lub dzięki zbieranym danym.</h3>
            </fieldset>
            <br>
            <input type="submit" value="Dalej" />
        </form>
    </div>
    <footer>Copyright © 2022 Marta Arendt & Maciej Mechliński</footer>
</body>
</html>